/* RENNER */

@font-face {
    font-family: 'Renner';
    font-weight: 300;
    font-display: fallback;
    src: url('../fonts/renner/renner_300') format('woff');
}

@font-face {
    font-family: 'Renner';
    font-weight: 300;
    font-display: fallback;
    font-style: italic;
    src: url('../fonts/renner/renner_300_italic') format ('woff');
}

@font-face {
    font-family: 'Renner';
    font-weight: 500;
    font-display: fallback;
    src: url('../fonts/renner/renner_500') format('woff');
}

@font-face {
    font-family: 'Renner';
    font-weight: 500;
    font-display: fallback;
    font-style: italic;
    src: url('../fonts/renner/renner_500_italic') format('woff');
}

@font-face {
    font-family: 'Renner';
    font-weight: 700;
    font-display: fallback;
    src: url('../fonts/renner/renner_700') format('woff');

@font-face {
    font-family: 'Renner';
    font-weight: 700;
    font-display: fallback;
    font-style: italic;
    src: url('../fonts/renner/renner_700_italic') format('woff');    
}

/* SOURCE SANS PRO */

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 300;
    font-display: fallback;
    src: url('../fonts/source_sans_pro/source_sans_pro_300') format('woff');    
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 300;
    font-display: fallback;
    font-style: italic;
    src: url('../fonts/source_sans_pro/source_sans_pro_300_italic') format('woff');    
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 500;
    font-display: fallback;
    src: url('../fonts/source_sans_pro/source_sans_pro_500') format('woff');    
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 500;
    font-display: fallback;
    font-style: italic;
    src: url('../fonts/source_sans_pro/source_sans_pro_500_italic') format('woff');    
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-display: fallback;
    src: url('../fonts/source_sans_pro/source_sans_pro_700') format('woff');    
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-display: fallback;
    font-style: italic;
    src: url('../fonts/source_sans_pro/source_sans_pro_700_italic') format('woff');    
}