@import url("fonts.css");

html {
    background-color: #193864;
    background: linear-gradient(45deg, #19285C, #0036B7);
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

html, body {
    display: block;
}

body {
    margin: 16px auto 128px auto;
    padding: 48px 32px;
    color: #1A1A1A;
    font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
    caret-color: #1A1A1A;
    max-width: 800px;
    background: #FAFAFA;
}

b, th {
    font-weight: 700;
    letter-spacing: 0px;
}

a, a:visited {
	color: #004CFF;
    cursor: pointer;
    text-decoration: none;
}

a:hover, a:focus, a:active {
    text-decoration: underline;
	outline: 0;
}

h1 {
    margin: -48px -32px 32px -32px;
    padding: 14px 32px;

    display: block;
    font-family: 'Renner', Helvetica, Arial, sans-serif;
    font-weight: 500;
    text-align: left;
    letter-spacing: 0.2px;

    background-color: #19285c;
    background: linear-gradient( #0036b7, #19285c);
    background-attachment: fixed;
    color: #FFFFFF;
}

h1 a {
    color: inherit !important;
    text-decoration: none !important;
    cursor: pointer;
}

h1 .sub {
    color: #CCC6C6;
}

h2, h3, h4, h5, h6 {
    font-family: Source Sans Pro, 'Renner', Helvetica, Arial, sans-serif;
    font-weight: 500;
    letter-spacing: normal;
    margin: 16px 0px 4px 0px;
}

hr {
    margin: 8px 0px 32px 0px;
}

p {
    margin: 4px 0px;
}