@font-face {
    font-family: 'Didact Gothic';
    font-weight: 400;
    src: url('//assembl.science/import/fonts/DidactGothic-Regular.ttf');
    src: url('//assembl.science/import/fonts/DidactGothic-Regular.woff2') format('woff2'),
         url('//assembl.science/import/fonts/DidactGothic-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Avenir';
    font-weight: 400;
    src: url('//assembl.science/import/fonts/Avenir-Regular.ttf');
    src: url('//assembl.science/import/fonts/Avenir-Regular.woff2') format('woff2'),
         url('//assembl.science/import/fonts/Avenir-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Avenir';
    font-weight: 700;
    src: url('//assembl.science/import/fonts/Avenir-Bold.ttf');
    src: url('//assembl.science/import/fonts/Avenir-Bold.woff2') format('woff2'),
         url('//assembl.science/import/fonts/Avenir-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Avenir';
    font-style: italic;
    src: url('//assembl.science/import/fonts/Avenir-Italic.ttf');
    src: url('//assembl.science/import/fonts/Avenir-Italic.woff2') format('woff2'),
         url('//assembl.science/import/fonts/Avenir-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Renner';
    font-weight: 400;
    src: url('//assembl.science/import/fonts/Renner/Renner_ 400 Book.ttf');
    src: url('//assembl.science/import/fonts/Renner/Renner_ 400 Book.otf') format('opentype'),
         url('//assembl.science/import/fonts/Renner/Renner_ 400 Book.ttf') format('truetype');
}

@font-face {
    font-family: 'Renner';
    font-weight: 300;
    src: url('//assembl.science/import/fonts/Renner/Renner_ 300 Light.otf');
    src: url('//assembl.science/import/fonts/Renner/Renner_ 300 Light.otf') format('opentype'),
         url('//assembl.science/import/fonts/Renner/Renner_ 300 Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Renner';
    font-weight: 300;
    font-style: italic;
    src: url('//assembl.science/import/fonts/Renner/Renner_ 300 Light Italic.otf');
    src: url('//assembl.science/import/fonts/Renner/Renner_ 300 Light Italic.otf') format('opentype'),
         url('//assembl.science/import/fonts/Renner/Renner_ 300 Light Italic.ttf') format('truetype');
}

html {
    height: 100%;
    background-color: #193864;
    background: linear-gradient(-45deg, #19285C, #193864);
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
}

html, body {
    display: block;
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    color: #EDF4F4;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    letter-spacing: -0.6px;
    font-size: 17px;
    caret-color: #EDF4F4;
    min-width: 750px;
}

*:focus {
	outline: 0;
}

b, th {
    font-weight: 700;
    letter-spacing: 0px;
}

a, a:visited {
	color: #97CED9;
	text-decoration: none;
	cursor: pointer;
	transition: color 0.25s;
}

a:hover, a:focus, a:active {
    color: #ABE2ED;
    text-decoration: underline;
	transition: color 0.05s;
	outline: 0;
}

input[type=text], input[type=email] {
    display: inline-block;
    padding: 4px;
    background: rgba(0,0,0,0.2);
    color: #1A1A1A;
    font-size: 15px;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    font-weight: 400;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 2px;
    cursor: text;
    text-align: left;
    transition: 0.15s;
    box-sizing: border-box;
}

select {
    display: inline-block;
    padding: 4px;
    background: rgba(0,0,0,0.2);
    color: #1A1A1A;
    font-size: 15px;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    font-weight: 400;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 2px;
    cursor: pointer;
    text-align: left;
    transition: 0.15s;
    box-sizing: border-box;
}

select option {
    color: #1A1A1A;
}

input[type=text]:focus, input[type=email]:focus, select:focus, input[type=text]:hover, input[type=email]:hover, select:hover {
    border: 1px solid #004CFF;
}

input[type=submit], input[type=button], button {
    margin-top: 4px;
    display: inline-block;
    background-color: #004CFF;
    color: #EDF4F4;
    transition: 0.25s;
    cursor: pointer;
    border: 0;
    padding: 4px 16px;
    border-radius: 3px;
    font-size: 17px;
    font-family: 'Renner', 'Avenir', Helvetica, Arial, sans-serif;
    font-weight: 400;
    box-shadow: 0px 0px 0px 0px rgba(5,5,5,0);
}

input[type=submit]:focus, input[type=button]:focus, button:focus, input[type=submit]:hover, input[type=button]:hover, button:hover, input[type=submit]:active, input[type=button]:active, button:active {
    box-shadow: 0px 0px 4px 0px rgba(5,5,5,0.8);
    transition: 0.05s;
    outline: 0;
}

input[type=submit]:active, input[type=button]:active, button:active {
    box-shadow: inset 0px 0px 4px 0px rgba(5,5,5,0.8);
    transform: scale(0.98);
}

.center-outer {
    display: table;
    width: 100%;
    height: 100%;
}

.center-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#main-header {
    display: block;
    position: fixed;
    top: 0px;
    will-change: top;
    left: 0px;
    right: 0px;
    height: 72px;
    background-color: #193864;
    background: linear-gradient(-45deg, #19285C, #193864);
    white-space: nowrap;
    min-width: inherit;
    z-index: 100;
}

#header-inner {
    display: block;
    text-align: right;
    white-space: nowrap;
    max-width: 1000px;
    margin: 0 auto;
    height: inherit;
}

#header-logo {
    display: block;
    font-family: 'Renner';
    font-weight: 400;
    font-size: 42px;
    line-height: 44px;
    padding: 14px 24px;
    color: #EDF4F4;
    cursor: default;
    text-align: left;
    float: left;
    user-select: none;
}

#header-logo-text {
    letter-spacing: 0.2px;
    cursor: pointer;
}

#header-logo-sub {
    font-weight: 300;
    font-size: 24px;
    margin-left: 18px;
    letter-spacing: 0px;
    font-style: italic;
}

#header-nav {
    display: inline-block;
    padding: 14px 24px;
    font-size: 24px;
    text-align: right;
    font-family: 'Renner';
    text-transform: lowercase;
    font-weight: 300;
}

#header-nav a {
    display: inline-block;
    text-decoration: none;
    color: #EDF4F4;
    margin: 7px 9px;
    padding: 0px;
    cursor: pointer;
}

#header-nav a:hover {
    color: #ABE2ED;
    text-decoration: underline;
}

#main-content {
    display: block;
    padding-top: 72px;
    height: 100%;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
}

#splash {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    background-image: url(../../images/bg.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    will-change: opacity;
    cursor: default;
}

#splash-inner {
    position: relative;
    will-change: opacity, top;
}

#splash > .center-outer {
    background: radial-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.15));
	background: -webkit-radial-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.15));
	background: -moz-radial-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.15));
	background: -ms-radial-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.15));
    background: -o-radial-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.15));
}

#splash-logo-img {
    display: inline-block;
    width: 156px;
    height: 156px;
    box-shadow: 0 0 1px 0px rgba(5,5,5,.8);
    border-radius: 78px;
    pointer-events: none;
    margin-bottom: 6px;
}

#download-container {
    display: inline-block;
    font-family: 'Renner';
}

#download-text {
    font-weight: 300;
    font-size: 32px;
    letter-spacing: 1px;
    margin: 12px 4px;
    color: #364c6e;
}

#download-text sup {
    font-size: 13px;
    font-weight: 400;
    vertical-align: super;
}

#download-container button {
    display: inline-block;
    cursor: pointer;
    border: none;
    padding: 12px 24px;
    box-shadow: 0px 0px 3px 0px rgba(5,5,5,0);
    transition: 0.25s;
    font-family: 'Renner', 'Avenir', Helvetica, Arial, sans-serif;
    margin: 4px;
    background: #224883;
    font-size: 21px;
    letter-spacing: 0.2px;
    width: 280px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#other-btn {
    background: #496FA7 !important;
}

#download-container button:hover, #download-container button:focus {
    box-shadow: 0px 0px 4px 1px rgba(5,5,5,0.8);
    transition: 0.05s;
    outline: 0;
}

#download-container button:active {
    box-shadow: inset 0px 0px 4px 0px rgba(5,5,5,0.8);
    transform: scale(0.98);
    transition: 0.05s;
    background: #004CFF !important;
    outline: 0;
}

#social-networks {
    margin-top: 32px;
    margin-bottom: 48px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    font-size: 18px;
}

#social-networks a {
    display: inline-block;
    margin: 0px;
    cursor: pointer;
    opacity: 1;
    transition: 0.25s;
    position: relative;
    padding: 8px;
    width: 26px;
    height: 26px;
}

#social-networks a:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: radial-gradient(#004CFF, rgba(0,0,0,0), rgba(0,0,0,0));
    z-index: -1;
    opacity: 0;
    transition: 0.25s;
}

#social-networks a:hover {
    opacity: 1;
    transform: scale(1.05);
    transition: 0.05s;
}

#social-networks a:hover:before {
    opacity: 0.75;
    transition: 0.05s;
}

#social-networks a img {
    display: inline-block;
    width: 26px;
    height: 26px;
    z-index: 1;
}

#more-content {
    display: block;
    color: #1A1A1A;
    caret-color: #1A1A1A;
    position: relative;
    top: 88%;
    max-width: 1000px;
    margin: 0 auto;
    white-space: nowrap;
}

#expand-more-content {
    cursor: pointer;
    opacity: 0.8;
    position: absolute;
    top: -48px;
    left: 50%;
    right: 50%;
    width: 48px;
    height: 48px;
    margin: 0px -24px 0px -24px;
    background-size: contain;
    transition: opacity 0.25s;
}

#expand-more-content.expand {
    background-image: url("../png/expand.png");
}

#expand-more-content.contract {
    background-image: url("../png/contract.png");
}

#expand-more-content:hover {
    opacity: 1;
    transition: 0.05s;
}

#cards-left {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    white-space: normal;
}

#cards-right {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    white-space: normal;
}

.cards-full {
    width: 100% !important;
}

.cards-hidden {
    display: none !important;
}

.card {
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
}

#cards-left:not(.cards-full) .content-left {
    padding: 11px 11px 11px 22px;
}

#cards-right:not(.cards-full) .content-right {
    padding: 11px 22px 11px 11px;
}

.cards-full .content-left, .cards-full .content-right {
    padding: 11px 22px !important;
}

.card-content-outer {
    padding: 0px;
    border-radius: 3px;
    background-color: rgba(255,255,255,0.2);
    /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}

.card-content-inner {
    padding: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    background-color: rgba(255,255,255);
    border-radius: 3px;
    position: relative;
}

.card-content-inner.nopadding {
    padding: 0px !important;
}

h2 {
    margin: 0px 0px 8px 0px;
    padding: 0px;
    font-size: 29px;
    line-height: 33px;
    font-weight: 700;
    letter-spacing: 0.1px;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

h2.extrapadding {
    padding: 16px 16px 0px 16px;
}

#cards-right h2 {
    font-size: 23px;
    line-height: 27px;
    margin: 4px 0px 10px 0px;
}

p {
    margin: 6px 0px 6px 0px;
    padding: 0px;
    font-size: 17px;
    line-height: 21px;
    font-weight: 400;
}

#cards-right p {
    font-size: 16px;
}

.card a, .card a:visited {
    color: #004CFF;
    text-decoration: none;
}

.card a:hover, .card a:focus, .card a:active {
    color: #004CFF;
    text-decoration: underline;
}

form table th {
    font-size: 14px;
    text-align: left;
}

form table td input {
    width: 100% !important;
}

form table td.legalstuff {
    font-size: 9px;
    padding: 4px 0px;
}

.card-content-inner iframe {
    border-radius: 3px;
}

.card-content-inner iframe#twitter-widget-0 {
    padding: 0px 12px !important;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
}

.inner-card {
    display: block;
    margin: 10px 0px;
    padding: 12px 10px;
    background-color: rgba(255,255,255,0.25);
    box-shadow: 0 1px 3px rgba(0,0,0,.08), 0 1px 3px rgba(0,0,0,.12);
    border-radius: 3px;
    position: relative;
    overflow: hidden;
}

.inner-card:last-of-type {
    margin-bottom: 0px;
}

.inner-card-image {
    display: block;
    float: left;
    width: 128px;
    height: 128px;
    margin-right: 16px;
    box-shadow: 0 1px 3px rgba(0,0,0,.08), 0 1px 3px rgba(0,0,0,.12);
}

.inner-card-image.round {
    border-radius: 64px;
}

.inner-card-image.grayscale {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

.inner-card-next-to-image {
    overflow: hidden;
}

.inner-card-title {
    display: block;
    font-weight: 700;
    font-size: 23px;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

.inner-card-title small {
    display: block;
    font-weight: 400;
    font-size: 15px;
    color: #7A7A7A;
}

.inner-card-title small::before {
    content: '>';
    margin: 0px 4px 0px 6px;
}

.inner-card-small-links {
    font-size: smaller;
    margin-top: 8px;
}

#main-footer {
    display: block;
    color: #1A1A1A;
    margin: 128px auto 0px auto;
    background-color: #193864;
    background: linear-gradient(-45deg, #19285C, #193864);
    color: #EDF4F4;
    font-size: 15px;
    height: initial;
    position: relative;
}

#footer-inner {
    display: block;
    margin: 0 auto;
    max-width: 1000px;
    height: inherit;
    padding: 12px 48px 12px 48px;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
}

#footer-inner table {
    table-layout: fixed;
}

#footer-inner table tr td {
    vertical-align: top;
    width: 33%;
}

.nobulletlist {
    list-style-type: none;
    padding-left: 0px;
}

#copyright {
    display: block;
    padding: 16px 8px;
    font-size: 13px;
    text-align: center;
    color: #5A769E;
}

/* PLACEHOLDER STYLING */
::-webkit-input-placeholder, ::-moz-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	color: rgba(255,255,255,0.1);
}

/* SELECTION STYLING */
::selection {
    background: #009FFF;
    color: #EDEDED;
    text-shadow: initial;
}

@media screen and (min-width: 1000px) {
    #main-footer, #main-footer:before {
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }
}

@media screen and (max-width: 765px) {
    body {
        min-width: 520px;
    }

    #header-logo-sub {
        display: none;
    }

    #cards-left, #cards-right {
        display: block;
        width: initial;
    }
    
    .card, .cards-full .content-left, .cards-full .content-right {
        padding: 6px 12px !important;
    }
    
    .card-content-inner {
        padding: 12px;
    }

    .inner-card {
        padding: 8px 6px;
    }
}

@media screen and (max-width: 520px) {
    body {
        min-width: 360px;
    }

    #main-header {
        height: 52px;
    }

    #header-logo {
        line-height: 28px;
        padding: 5px 8px 13px 16px;
    }

    #header-logo-text {
        font-size: 26px;
    }

    #header-nav {
        font-size: 19px;
        padding: 5px 16px;
    }

    #header-nav a {
        margin: 0px;
        padding: 8px 8px;
    }

    #main-content {
        padding-top: 52px;
    }

    #splash-logo-img {
        width: 96px;
        height: 96px;
        border-radius: 48px;
        margin-bottom: 12px;
    }

    #download-container {
        font-size: 29px;
    }
    
    #download-text {
        font-size: 25px;
        margin-top: 0px;
    }

    #download-text sup {
        font-size: 11px;
    }

    #download-container button {
        font-size: 17px;
        padding: 8px 16px;
        width: 230px;
    }

    #expand-more-content {
        top: -48px;
    }

    form table td.legalstuff {
        font-size: 11px;
    }

    h2 {
        font-size: 25px !important;
        margin: 0px 0px 8px 0px !important;
        line-height: 29px !important;
    }

    p {
        font-size: 17px !important;
    }

    #main-footer {
        height: initial;
    }

    #footer-inner {
        padding: 8px;
    }

    #footer-inner table tr td {
        width: 100%;
        display: block;
        text-align: center !important;
        margin: 48px 0px;
    }

    #footer-inner ul {
        padding: 0px;
        margin: 0px;
    }

    .inner-card-image {
        width: 80px;
        height: 80px;
        margin-right: 10px;
    }

    .inner-card-image.round {
        border-radius: 40px;
    }

    .inner-card-title {
        font-size: 19px;
    }

    .inner-card-title small {
        font-size: 14px;
    }
}